<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>123</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/popper.js/1.15.0/umd/popper.js"></script>
    <script src="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/js/bootstrap.js"></script>
    <link rel="stylesheet" href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.css">
    <style>
        body {
            display: flex;
            align-items: center;
            margin: 20px;
            flex-direction: column;
        }
        #app {
            width: 1000px;
        }
        #main-title-div {
            display: flex;
            justify-content: center;
        }
        #main-title-div > *{
            display: block;
        }
        .main-block {
            box-shadow: 0px 0px 3px 3px #CCC;
            border-radius: 5px;
            background-color: azure;
            margin: 20px 0px;
        }
        .main-block > * {
            padding: 5px;
        }
        .main-block > .title-div {
            padding: 5px 5px 5px 20px;
            border-radius: 5px 5px 0px 0px;
            font-size: 150%;
            font-weight: bold;
            background-color: #CFF;
        }
        .title-div {
            display: flex;
            align-items: center;
        }
        #dropdowns-div {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }
        #dropdowns-div .dropdown-item {
            text-align: right;
        }
        .one-dropdown-div {
            display: flex;
            flex-direction: row;
            color: brown;
            width: 33.3%;
            padding: 3px;
        }
        .one-dropdown-div > .title-div {
            width: 40%;
        }
        .one-dropdown-div > .btn-group {
            width: 60%;
        }
        .dropdown-toggle {
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }
        .dropdown-toggle > .caret {
            margin: 0px 5px 0px 0px;
        }
        .talk-div {
            display: flex;
            flex-wrap: wrap;
        }
        .talk-character-div {
            width: 100%;
            font-weight: bold;
        }
        .talk-content-div {
            width: 25%;
        }
        #display > div {
            margin: 10px 0px;
        }
    </style>
</head>

<body>
    <div id="app">
        <div id="main-title-div">
            <h1 id="MAIN-TITLE-text"></h1>
        </div>
        <div class="main-block">
            <div class="title-div">
                <span id="OPTIONS-TITLE-text"></span>
            </div>
            <div id="dropdowns-div">
                <custom-dropdown
                    v-for="dropdown in dropdowns"
                    :title="dropdown.title"
                    :list="dropdown.list"
                    :chosenindex.sync="dropdown.index"
                    :click="dropdown.click"
                >
            </div>
        </div>
        <display-data
            :name="name"
            :tea="datajson[country][name].tea"
            :talk="datajson[country][name].talk"
            :over="datajson[country][name].over"
        ></display-data>
    </div>
    <script>
    
let rawdata = `###黑鹫
------------
艾黛尔贾特
喜欢的茶：香柠檬茶
对话：
F：芙多拉的将来、发牢骚
G：关于道具的保养、关于两人的将来、关于桥上的风景、关于图书馆的藏书、关于纹章的有无、关于想成为的兵种、关于修道院的警备、关于修道院的谜团
J：讲述理想的教师形象、精悍骑士团的传言、觉得最优秀的伙伴
K：看过歌剧吗、看来你状况不错
L：两人曾一同欢笑的话题
M：猫的话题
Q：其它伙伴的评价
R：任何事都可以和我商量
S：上次战斗的反省、收到会很开心的礼物、说出自己的秘密
W：未来的梦想、为了克服弱点、我信赖着你
X：喜欢的地方、喜欢的点心、希望成为伙伴的人、向喜欢的人寻求的事物、相遇之时的话题、想懒洋洋地度过、想要变得更亲密、新计策的提案、修道院规则的话题、学校生活的回忆、学校制服的话题
Y：一直以来谢谢你了、应该适合的兵种
Z：最近你的气质改变了、在危机之际获救的话题、最近读过的书的话题
结束：
你的房间：害羞、点头、没那种事
若我不是：加油打气、露出笑容
只要发现：点头、露出笑容
------------
修伯特
喜欢的茶：待补
对话：
F：芙多拉的将来
G：关于道具的保养、关于两人的连携、关于图书馆的藏书、关于想成为的兵种、关于修道院的警备、关于修道院的谜团
J：精悍骑士团的传言、觉得最优秀的伙伴
N：那个人的年龄
Q：其它伙伴的评价、强大武器的话题
S：上次战斗的反省、视为目标的人物、说出自己的秘密
W：为了让计谋成功、我信赖着你
X：希望成为伙伴的人、想去旅行看看的国家、新计策的提案、修道院规则的话题
Z：在危机之际获救的话题、最近读过的书的话题
结束：
与我共度时光：没那回事、责备
贝斯特拉家：表示佩服、说出自己的想法
阁下偶尔会：没那回事、喝茶
------------
林哈尔特
喜欢的茶：东方风味茶、草本茶
对话：
F：发牢骚
G：关于钓鱼池的怪鱼、关于桥上的风景、关于图书室的藏书、关于纹章的有无、关于修道院的谜团
J：觉得最优秀的伙伴
L：两人曾一同欢笑的话题
M：猫的话题、门卫工作时间的话题
R：任何事都可以跟我商量
S：收到会很开心的礼物、说出自己的秘密
W：晚餐的邀约、忘了收获的话题、未来的梦想、为了克服弱点、午睡的话题
X：喜欢的地方、喜欢的点心、想去旅行看看的国家、想要变得更亲密、相遇之时的话题
Y：一直以来谢谢你了
Z：最近读过的书的话题
结束：
老师明明：没那种事、说出自己的想法
待在这种：点头、加油打气
造成贵族：说出自己的想法
------------
菲尔迪南特
喜欢的茶：东方风味茶、南方果茶
对话：
C：初恋的话题
D：打扮的话题
F：发牢骚芙多拉的将来
G：关于道具的保养、关于两人的将来、关于两人的连携、关于纹章的有无、关于想成为的兵种、关于浴场的设备
H：何谓贵族的生存方式
J：讲述理想的教师形象、精悍骑士团的传言、觉得最优秀的伙伴
K：看过歌剧吗、看来你过得不错、看来你状况不错、可爱修道士的话题
L：理想的交往方式、两人曾一同欢笑的话题、料理失败的话题
N：那个人的年龄
Q：其它伙伴的评价、强大武器的话题
R：任何事都可以跟我商量
S：上次战斗的反省、视为目标的人物、收到会很开心的礼物、说出自己的秘密
W：晚餐的邀约、未来的梦想、我信赖着你、午餐的话题
X：喜欢的地方现在心跳得很厉害、向喜欢的人寻求的事物、想要变得更亲密、想一起训练的对象、修道院规则的话题、学校生活的回忆、学校制服的话题
Y：邀请一同用餐的对象、一直以来谢谢你了、应该适合的兵种、优秀骑士的话题
Z：在市场的孩子的话题、在危机之际获救的话题、在意的伙伴的话题、最近你的气质改变了
结束：
该怎么说呢：害羞、没那种事
我从小就喜欢：表示佩服、露出笑容
我不讨厌：说出自己的想法、点头、表示佩服
------------
卡斯珀尔
喜欢的茶：姜茶
对话：
F：发牢骚
G：关于道具的保养、关于钓鱼池的怪鱼、关于两人的将来、关于两人的连携、关于桥上的风景、关于想成为的兵种、关于浴场的设备
J：精悍骑士团的传言
K：看来你过得不错、看来你状况不错
L：料理失败的话题、两人曾一同欢笑的话题
M：猫的话题、门卫工作时间的话题
Q：强大武器的话题
R：任何事都可以跟我商量
S：视为目标的人物、上次战斗的反省
W：晚餐的邀约、忘了收获的话题、未来的梦想、为了克服弱点、我信赖着你、午餐的话题
X：喜欢的地方、想要变得更亲密、想去旅行看看的国家、想一起吃的料理、想一起训练的对象、相遇之时的话题、新计策的提案、学校生活的回忆
Y：一直以来谢谢你了、应该适合的兵种、优秀骑士的话题
Z：在市场的孩子的话题、在危机之际获救的话题、长高的方法、终极食谱的话题
结束：
啊~好像大闹一番：责备
老师的房间：害羞、没那种事
喂，你肚子不饿吗：露出笑容
------------
贝尔娜提塔·艾黛尔贾特多洛缇雅
喜欢的茶：莓茶、蜜渍水果茶
对话：
D：打扮的话题
F：发牢骚
G：关于桥上的风景、关于图书馆的藏书、关于相遇之时的话题
K：看来你过的不错、看来你状况不错、可爱修道士的话题
L：理想的交往方式、两人曾一同欢笑的话题、料理失败的话题
M：猫的话题
R：任何事都可以找我商量
S：上次战斗的反省、食虫植物的话题、收到会很开心的礼物、说出自己的秘密
W：未来的梦想、为了克服弱点、我信赖着你、午餐的话题
X：喜欢的地方、喜欢的点心、想去旅行看看的国家、向喜欢的人寻求的事物、想要变得更亲密、想一起吃的料理、相遇之时的话题、学校生活的回忆、学校制服的话题
Y：一直以来谢谢你了
Z：在市场的孩子的话题、在危机之际获救的话题、在意的伙伴的话题、在中庭的两人的话题、终极食谱的话题、最近读过的书的话题、最近你的气质改变了
结束：
两人一起窝在：说出自己的想法、点头、喝茶
这里有这么休闲舒适：点头
贝尔有时候也想：点头
------------
佩托拉
喜欢的茶：四种香料茶、姜茶
对话：
D：打扮的话题
F：芙多拉的将来
G：关于道具的保养、关于钓鱼池的怪鱼、关于两人的将来、关于两人的连携、关于桥上的风景、关于图书室的藏书、关于想成为的兵种、关于修道院的警备、关于修道院的谜团、关于浴场的设备
J：精悍骑士团的传言、觉得最优秀的伙伴
K：看来你过得不错、看来你状况不错
L：理想的交往方式、两人曾一同欢笑的话题
M：猫的话题、门卫工作时间的话题
N：那个人的年龄
Q：其它伙伴的评价、强大武器的话题
R：任何事都可以跟我商量
S：上次战斗的反省视为目标的人物、收到会很开心的礼物
W：晚餐的邀约、未来的梦想、为了克服弱点、我信赖着你
X：喜欢的地方、现在心跳得很厉害、想去旅行看看的国家、向喜欢的人寻求的事物、想要变得更亲密、想一起吃的料理、想一起训练的对象、新计策的提案、修道院规则的话题、学校生活的回忆
Y：一直以来谢谢你了、应该适合的兵种
Z：在海中游泳的话题、在危机之际获救的话题、在意的伙伴的话题、最近读过的书的话题、最近你的气质改变了
结束：
加尔古.玛库、沮丧、加油打气
这之后：加油打气、责备
老师有烦恼吗：说出自己的想法
------------
多洛缇雅
喜欢的茶：苹果茶、莓茶
对话：
C：初恋的话题
D：打扮的话题
G：关于钓鱼池的怪鱼、关于两人的将来、关于两人的连携、关于修道院的警备、关于浴场的设备
K：看过歌剧吗、可爱修道士的话题、看来你过的不错、看来你状况不错
L：理想的交往方式、两人曾一同欢笑的话题
M：门卫工作时间的话题
Q：其它伙伴的评价
S：视为目标的人物、收到会很开心的礼物说出自己的秘密
W：晚餐的邀约、未来的梦想、我信赖着你
X：喜欢的地方、现在心跳得很厉害、想要变得更亲密、向喜欢的人寻求的事物、想一起训练的对象、相遇之时的话题、新计策的提案、修道院规则的话题、学校生活的回忆、学校制服的话题
Y：邀请一同用餐的对象一切尽在不言中、一直以来谢谢你了、优秀骑士的话题
Z：在危机之际获救的话题、在意的伙伴的话题、在中庭的两人的话题、最近读过的书的话题、最近你的气质变了
结束：
意外的有：表示佩服
我不喜欢圣歌：说出自己的想法、沮丧
我的理想对象是：加油打气、害羞
###青狮
------------
亚修
喜欢的茶：薄荷茶、草本茶
对话：
F：发牢骚
G：关于道具的保养、关于钓鱼池的怪鱼、关于理想的骑士、关于两人的连携、关于图书馆的藏书、关于纹章的有无、关于想成为的兵种、关于修道院的警备
J：讲述理想的教师形象、精悍骑士团的传言
K：看来你过的不错
L：两人曾一同欢笑的话题
M：猫的话题、门卫工作时间的话题
R：任何事都可以和我商量
S：上次战斗的反省、视为目标的人物、收到会很开心的礼物
W：晚餐的邀约、忘了收获的话题、未来的梦想、我信赖着你
X：喜欢的点心、想成为的兵种、想去旅行看看的国家、想要变得更亲密、想一起吃的料理、学校生活的回忆
Y：一直以来谢谢你了、优秀骑士的话题
Z：在市场的孩子的话题、在危机之际获救的话题、终极食谱的话题、最近读过的书的话题
结束：
因为我从小就照顾：表示佩服
露出笑容不管何时：没那种事、加油打气
老师有看过：没那种事、喝茶
------------
费利克斯
喜欢的茶：东方风味茶、四种香料茶
对话：
G：关于道具的保养、关于两人的连携、关于想成为的兵种、关于修道院的警备
J：精悍骑士团的传言、觉得最优秀的伙伴
K：看过歌剧吗、看来你状况不错
M：猫的话题
Q：其它伙伴的评价、强大武器的话题
S：上次战斗的反省、视为目标的人物
W：未来的梦想、为了克服弱点、我信赖着你、午餐的话题
X：喜欢的地方、希望成为伙伴的人、想了新的剑技、想一起吃的料理、想一起训练的对象、相遇之时的话题、新计策的提案
Y：应该适合的兵种
Z：在市场的孩子的话题
结束：
我对出生自武将：表示佩服
我对你的成长：害羞、说出自己的想法
有无纹章：表示佩服、说出自己的想法
------------
英谷莉特
喜欢的茶：薄荷茶、洋甘菊花茶
对话：
C：吃饭是生存的动力、初恋的话题
F：芙多拉的将来
G：关于钓鱼池的怪鱼、关于道具的保养、关于两人的连携、关于桥上的风景、关于图书室的藏书、关于纹章的有无、关于想成为的兵种、关于修道院的警备
J：讲述理想的教师形象、精悍骑士团的传言
K：看来你状况不错、看来你过得不错
L：两人曾一同欢笑的话题、料理失败的话题
M：猫的话题、门卫工作时间的话题
Q：其它伙伴的评价、强大武器的话题
R：任何事都可以跟我商量
S：上次战斗的反省、视为目标的人物、收到会很开心的礼物
W：晚餐的邀约、未来的梦想、为了克服弱点、我信赖着你、午餐的话题
X：喜欢的地方、喜欢的点心、希望成为伙伴的人、想要变得更亲密、向喜欢的人寻求的事物、想一起吃的料理、想一起训练的对象、相遇之时的话题、新计策的提案、修道院规则的话题、学校生活的回忆
Y：一直以来谢谢你了、应该适合的兵种、优秀骑士的话题
Z：终极食谱的话题、最近读过的书的话题
结束：
修道院一代很温暖：加油打气、说出自己的想法
肚子开始饿了：露出笑容
我小的时候：露出笑容、责备
------------
梅尔赛德司
喜欢的茶：莓茶、南方果茶
对话：
C：初恋的话题
D：打扮的话题
F：发牢骚
G：关于图书室的藏书、关于浴场的设备
K：看过歌剧吗、看来你状况不错、可爱修道士的话题
L：理想的交往方式、两人曾一同欢笑的话题、料理失败的话题
M：猫的话题
R：任何事都可以跟我商量
S：上次战斗的反省、收到会很开心的礼物、说出自己的秘密
W：晚餐的邀约、忘了收获的话题、为了克服弱点、我信赖着你、午餐的话题
X：喜欢的地方、喜欢的点心、现在心跳得很厉害、想去旅行看看的国家、想要变得更亲密、想一起吃的料理、修道院规则的话题、学校生活的回忆、学校制服的话题
Y：邀请一同用餐的对象、一直以来谢谢你了、优秀骑士的话题
Z：在市场的孩子的话题、在意的伙伴的话题、在中庭的两人的话题、珍藏的鬼故事、终极食谱的话题、最近读过的书的话题、最近你的气质改变了
结束：
我刚才还在烤点心：点头、喝茶、沮丧
老实说：点头
我曾住过的：表示佩服
老师的房间：害羞、没那种事
偶尔也得写信：说出自己的想法、点头
------------
希尔凡
喜欢的茶：香柠檬茶
对话：
C：初恋的话题
D：打扮的话题
F：发牢骚
G：关于钓鱼池的怪鱼、关于两人的将来、关于两人的连携、关于桥上的风景、关于图书室的藏书、关于修道院的谜团、关于浴场的设备
J：觉得最优秀的伙伴
K：看过歌剧吗、看来你过得不错、看来你状况不错、可爱修道士的话题
L：理想的交往方式、两人曾一同欢笑的话题、料理失败的话题
N：那个人的年龄
Q：其它伙伴的评价
S：收到会很开心的礼物、说出自己的秘密
W：晚餐的邀约、未来的梦想、为了克服弱点、我信赖着你、午餐的话题
X：喜欢的地方、喜欢的点心、希望成为伙伴的人、现在的交往对象是谁、现在心跳得很厉害、想去旅行看看的国家、向喜欢的人寻求的事物、想要变得更亲密、想一起吃的料理、想一起训练的对象、相遇之时的话题、学校生活的回忆、学校制服的话题
Y：邀请一同用餐的对象、一直以来谢谢你了、应该适合的兵种
Z：在危机之际获救的话题、在意的伙伴的话题、在中庭的两人的话题、终极食谱的话题、最近读过的书的话题、最近你的气质改变了
结束：歌剧\画
文学：说出自己的想法、表示佩服
为了随时能约女孩子：加油打气、表示佩服
该怎么说呢：说出自己的想法、喝茶
------------
雅妮特
喜欢的茶：苹果茶、杏仁茶
对话：
B：不会让锅子爆炸的方法
D：打扮的话题
F：发牢骚
G：关于道具的保养、关于两人的将来、关于两人的连携、关于图书室的藏书、关于想成为的兵种、关于浴场的设备
J：讲述理想的教师形象
K：看过歌剧吗、看来你过得不错、看来你状况不错、可爱修道士的话题
L：理想的交往方式、两人曾一同欢笑的话题、料理失败的话题
N：那个人的年龄
Q：其它伙伴的评价
R：任何事都可以跟我商量
S：上次战斗的反省、视为目标的人物、收到会很开心的礼物
W：晚餐的邀约、忘了收获的话题、未来的梦想、为了克服弱点、我信赖着你、午餐的话题
X：喜欢的地方、喜欢的点心、想去旅行看看的国家、向喜欢的人寻求的事物、想要变得更亲密、想一起吃的料理、相遇之时的话题、新计策的提案、学校生活的回忆、学校制服的话题
Y：邀请一同用餐的对象、一直以来谢谢你了、优秀骑士的话题
Z：在市场的孩子的话题、在危机之际获救的话题、在意的伙伴的话题、在中庭的两人的话题、终极食谱的话题、最近读过的书的话题、最近你的气质改变了
结束：
啊，机会难得：点头、露出笑容
父亲曾经对我说过：加油打气、表示佩服、说出自己的想法
不好好打扫不行哟：点头
###金鹿
------------
拉斐尔
喜欢的茶：姜茶、杏仁茶
对话：
D：锻炼肌肉的方法
F：发牢骚
G：关于钓鱼池的怪鱼、关于钓鱼池的怪鱼、关于两人的连携、关于想成为的兵种
J：精悍骑士团的传言
K：看过歌剧吗、看来你过得不错、看来你状况不错
L：两人曾一同欢笑的话题、料理失败的话题
M：猫的话题
R：任何事都可以跟我商量
S：上次战斗的反省、视为目标的人物、收到会很开心的礼物
W：晚餐的邀约、忘了收获的话题、未来的梦想、为了克服弱点、我信赖着你、午餐的话题
X：喜欢的点心、想要变得更亲密、想一起吃的料理、想一起训练的对象、学校生活的回忆
Y：邀请一同用餐的对象、一直以来谢谢你了、应该适合的兵种、优秀骑士的话题
Z：在市场的孩子的话题、在危机之际获救的话题、终极食谱的话题
结束：
俺得成为：加油打气、表示佩服
俺的肌肉：说出自己的想法、露出笑容、老师
有没有什么吃的：露出笑容、责备
------------
莉斯缇亚
喜欢的茶：苹果茶、南方果茶、蜜渍水果茶
对话：
D：打扮的话题、点心究竟多有魅力
F：芙多拉的将来
G：关于钓鱼池的怪鱼、关于两人的连携、关于两人的将来、关于图书室的藏书、关于纹章的有无、关于想成为的兵种、关于修道院的谜团、关于浴场的设备
J：讲述理想的教师形象、觉得最优秀的伙伴
L：两人曾一同欢笑的话题、料理失败的话题
M：猫的话题
Q：其它伙伴的评价
S：上次战斗的反省、视为目标的人物、收到会很开心的礼物、说出自己的秘密
W：晚餐的邀约、未来的梦想、为了克服弱点、我信赖着你、午餐的话题
X：喜欢的点心、想去旅行看看的国家、想要变得更亲密、想一起吃的料理、相遇之时的话题、新计策的提案、修道院规则的话题、学校生活的回忆、学校制服的话题
Y：一直以来谢谢你了、应该适合的兵种
Z：在危机之际获救的话题、在意的伙伴的话题、终极食谱的话题、最近读过的书的话题、最近你的气质改变了
结束：
吃甜点是我：点头、露出笑容
老师觉得：说出自己的想法、露出笑容
我也想活得：说出自己的想法、加油打气
------------
洛廉兹
喜欢的茶：香柠檬茶、玫瑰花茶
对话：
C：初恋的话题
D：打扮的话题
F：发牢骚、芙多拉的将来
G：关于两人的将来、关于两人的连携、关于纹章的有无、关于想成为的兵种、关于浴场的设备
J：讲述理想的教师形象、觉得最优秀的伙伴
K：看过歌剧吗、看来你过得不错、可爱修道士的话题
L：理想的交往方式、两人曾一同欢笑的话题
M：玫瑰的颜色与香气
Q：其它伙伴的评价
R：任何事都可以跟我商量
S：视为目标的人物、收到会很开心的礼物
W：晚餐的邀约、未来的梦想、为了克服弱点、我信赖着你
X：喜欢的地方、希望成为伙伴的人、现在心跳得很厉害、向喜欢的人寻求的事物、想要变得更亲密、想一起吃的料理、相遇之时的话题、新计策的提案、修道院规则的话题、学校生活的回忆、学校制服的话题
Y：邀请一同用餐的对象、一直以来谢谢你了、优秀骑士的话题
Z：在意的伙伴的话题、最近你的气质改变了
结束：
玫瑰兼具了：点头、喝茶
身为贵族：加油打气、没那种事
有女性因为我：责备、喝茶
------------
玛莉安奴
喜欢的茶：熏衣草茶
对话：
F：芙多拉的将来
G：关于钓鱼池的怪鱼、关于两人的将来、关于栖息在森林中的鸟、关于桥上的风景、关于图书室的藏书、关于纹章的有无、关于修道院的谜团、关于浴场的设备
J：讲述理想的教师形象
M：猫的话题
R：任何事都可以跟我商量
S：上次战斗的反省、说出自己的秘密
W：晚餐的邀约、忘了收获的话题、未来的梦想、为了克服弱点
X：喜欢的地方、想要变得更亲密、相遇之时的话题、新计策的提案、学校生活的回忆
Y：一直以来谢谢你了
Z：在市场的孩子的话题、在危机之际获救的话题、在意的伙伴的话题、最近读过的书的话题、最近你的气质改变了
结束：
就算和我：没那种事、责备
竟然为了我：没那种事、抱歉
我不太会：加油打气、说出自己的想法
------------
雷欧妮
喜欢的茶：四种香料茶、草本茶
对话：
F：发牢骚、芙多拉的将来
G：关于道具的保养、关于两人的将来、关于两人的连携、关于桥上的风景、关于想成为的兵种、关于修道院的谜、团关于修道院的警备
J：讲述理想的教师形象、杰拉尔特的话题、精悍骑士团的传言、觉得最优秀的伙伴
K：看来你过得不错、看来你状况不错
L：两人曾一同欢笑的话题
Q：其它伙伴的评价、强大武器的话题
R：任何事都可以跟我商量
S：上次战斗的反省、视为目标的人物、收到会很开心的礼物、说出自己的秘密
W：晚餐的邀约、未来的梦想、为了克服弱点、我信赖着你、午餐的话题
X：喜欢的地方、想去旅行看看的国家、希望成为伙伴的人、想要变得更亲密、想一起吃的料理、想一起训练的对象、相遇之时的话题、新计策的提案、学校生活的回忆
Y：一直以来谢谢你了、应该适合的兵种
Z：在市场的孩子的话题、在危机之际获救的话题、最近读过的书的话题、最近你的气质改变了
结束：
老师认真：点头、表示佩服
你若是有：点头、表示佩服
不论你怎么想：表示佩服、责备
------------
伊古纳兹
喜欢的茶：熏衣草茶
对话：
C：初恋的话题
F：发牢骚、芙多拉的将来
G：关于道具的保养、关于钓鱼池的怪鱼、关于两人的连携、关于桥上的风景、关于图书室的藏书、关于修道院的谜团
J：觉得最优秀的伙伴
K：看过歌剧吗、看来你过得不错、看来你状况不错、可爱修道士的话题
L：两人曾一同欢笑的话题
M：猫的话题
N：那个人的年龄
R：任何事都可以跟我商量
S：视为目标的人物、收到会很开心的礼物、说出自己的秘密
Q：其它伙伴的评价
W：忘了收获的话题、未来的梦想、为了克服弱点、我信赖着你
X：喜欢的地方、想去旅行看看的国家、想要变得更亲密、相遇之时的话题、修道院规则的话题、学校生活的回忆
Y：一直以来谢谢你了、应该适合的兵种
Z：在市场的孩子的话题、在危机之际获救的话题、在意的伙伴的话题、在中庭的两人的话题、制作颜料的方法、最近读过的书的话题、最近你的气质改变了
结束：
老师虽然年轻：害羞、喝茶、没那种事
我认为兴趣：说出自己的想法、点头
虽然想帮上：点头、加油打气
###其它
------------
玛努埃拉
喜欢的茶：薄荷茶、熏衣草茶
对话：
C：初恋的话题
D：打扮的话题
F：发牢骚
G：关于两人的将来、关于两人的连携、关于修道院的警备、关于浴场的设备
J：讲述理想的教师形象、精悍骑士团的传言
K：看过歌剧吗、看来你过得不错、看来你状况不错、可爱修道士的话题
L：理想的交往方式、两人曾一同欢笑的话题、料理失败的话题
M：门卫工作时间的话题
N：那个人的年龄
R：任何事都可以跟我商量、人生最棒的舞台是
S：收到会很开心的礼物、说出自己的秘密
W：晚餐的邀约、忘了收获的话题、未来的梦想、为了克服弱点、我信赖着你、午餐的话题
X：喜欢的地方、喜欢的点心、希望成为伙伴的人、现在心跳的很厉害、向喜欢的人寻求的事物、想要变得更亲密、想一起吃的料理、相遇之时的话题、学校生活的回忆
Y：邀请一同用餐的对象、一直以来谢谢你了、应该适合的兵种、优秀骑士的话题
Z：在市场的孩子的话题、在危机之际获救的话题、在意的伙伴的话题、在中庭的两人的话题、终极食谱的话题
结束：
然后呢，你到底是什么人：说出自己的想法、沮丧
这里应该没有酒吧：责备
我真的是这么糟糕：没那种事、责备
------------
芙莲
喜欢的茶：苹果茶、三日月茶、杏仁茶
对话：
C：初恋的话题
D：大海和鱼的话题
F：发牢骚、芙多拉的将来
G：关于钓鱼池的怪鱼、关于两人的将来、关于两人的连携、关于桥上的风景、关于图书室的藏书
J：讲述理想的教师形象
K：看过歌剧吗、看来你过得不错、看来你状况不错、可爱修道士的话题
L：理想的交往方式、两人曾一同欢笑的话题、料理失败的话题
M：猫的话题
N：那个人的年龄
R：任何事都可以跟我商量
S：收到会很开心的礼物、说出自己的秘密
W：晚餐的邀约、忘了收获的话题、未来的梦想、我信赖着你
X：喜欢的点心、现在心跳得很厉害、向喜欢的人寻求的事物、想要变得更亲密、想一起吃的料理、想一起训练的对象、相遇之时的话题、学校生活的回忆
Y：邀请一同用餐的对象、一直以来谢谢你了、优秀骑士的话题
Z：在市场的孩子的话题、在危机之际获救的话题、在意的伙伴的话题、在中庭的两人的话题、终极食谱的话题、最近读过的书的话题
结束：
老师真是有趣：点头、没那种事
我偶尔会想去：点头、说出自己的想法
我很喜欢热闹：点头
------------
西提司
喜欢的茶：四种香料茶、姜茶、草本茶
对话：
F：发牢骚、芙多拉的将来、芙莲的话题
G：关于道具的保养、关于两人的将来、关于两人的连携、关于图书室的藏书、关于想成为的兵种、关于浴场的设备、关于修道院的警备
J：讲述理想的教师形象、精悍骑士团的传言、觉得最优秀的伙伴
K：看过歌剧吗、看来你状况不错
M：门卫工作时间的话题
N：那个人的年龄
Q：其它伙伴的评价、强大武器的话题
R：任何事都可以跟我商量
S：上次战斗的反省、说出自己的秘密
W：晚餐的邀约、我信赖着你
X：喜欢的地方、希望成为伙伴的人、想要变得更亲密、相遇之时的话题、新计策的提案、修道院规则的话题
Y：一直以来谢谢你了、应该适合的兵种
Z：在市场的孩子的话题、在危机之际获救的话题、在意的伙伴的话题、最近读过的书的话题
结束：
大司教对你：说出自己的想法、喝茶
只要和大修道院：点头
虽然我也会：点头
------------
汉尼曼
喜欢的茶：香柠檬茶、苹果茶、蜜渍水果茶
对话：
D：打扮的话题
F：发牢骚、芙多拉的将来
G：关于道具的保养、关于两人的将来、关于图书室的藏书、关于纹章的有无、关于浴场的设备、关于修道院的警备、关于修道院的谜团
J：讲述理想的教师形象、觉得最优秀的伙伴
K：看来你过得不错、看来你状况不错
L：两人曾一同欢笑的话题、料理失败的话题
P：配合研究吧
Q：其它伙伴的评价
R：任何事都可以跟我商量
S：上次战斗的反省、收到会很开心的礼物、说出自己的秘密
W：晚餐的邀约、未来的梦想、为了克服弱点、我信赖着你、午餐的话题
X：喜欢的地方、喜欢的点心、现在心跳得很厉害、想去旅行看看的国家、想要变得更亲密、想一起吃的料理、相遇之时的话题、新计策的提案、修道院规则的话题、学校生活的回忆
Y：一直以来谢谢你了
Z：在意的伙伴的话题、最近读过的书的话题
结束：
唔，还是来吾的：喝茶
结果吾依然：说出自己的想法、害羞
话说起来：没那种事、喝茶
------------
锥里尔
喜欢的茶：东方风味茶
对话：
F：发牢骚
G：关于道具的保养、关于钓鱼池的怪鱼、关于桥上的风景、关于想成为的兵种、关于修道院的警备
K：看来你过得不错、看来你状况不错、可爱修道士的话题
L：蕾雅大人的话题
M：猫的话题、门卫工作时间的话题
N：那个人的年龄
S：收到会很开心的礼物、说出自己的秘密
W：晚餐的邀约、忘了收获的话题、为了克服弱点、午餐的话题、我信赖着你
X：喜欢的地方、喜欢的点心、想要变得更亲密、想一起吃的料理
Y：一直以来谢谢你了、应该适合的兵种
Z：在市场的孩子的话题、在危机之际获救的话题、在意的伙伴的话题、终极食谱的话题、最近你的气质改变了
结束：
我不讨厌工作：表示佩服、加油打气
蕾雅大人：点头、喝茶
如果被逐出：加油打气、没那种事、表示佩服
------------
阿罗伊斯
喜欢的茶：三日月茶、蜜渍水果茶
对话：
C：初恋的话题
F：发牢骚、芙多拉的将来
G：关于道具的保养、关于钓鱼池的怪鱼、关于两人的连携、关于桥上的风景、关于想成为的兵种、关于修道院的警备
J：讲述理想的教师形象、精悍骑士团的传言
K：看过歌剧吗、看来你过得不错、看来你状况不错
L：两人曾一同欢笑的话题、料理失败的话题
M：猫的话题、门卫工作时间的话题
P：派得上用场的笑话
Q：强大武器的话题
R：任何事都可以跟我商量
S：上次战斗的反省、视为目标的人物、收到会很开心的礼物、说出自己的秘密
W：晚餐的邀约、忘了收获的话题、未来的梦想、为了克服弱点、午餐的话题、我信赖着你
X：喜欢的地方、喜欢的点心、想去旅行看看的国家、想要变得更亲密、想一起吃的料理、相遇之时的话题、新计策的提案、修道院规则的话题、学校生活的回忆
Y：一直以来谢谢你了
Z：在市场的孩子的话题、在危机之际获救的话题、终极食谱的话题
结束：
幽灵、船：露出笑容
虽然阁下：点头、没那种事、表示佩服
保持房间干净：表示佩服
------------
萨米亚
喜欢的茶：三日月茶、洋甘菊花茶
对话：
G：关于道具的保养、关于钓鱼池的怪鱼、关于两人的将来、关于两人的连携、关于桥上的风景、关于想成为的兵种、关于修道院的警备
J：精悍骑士团的传言、觉得最优秀的伙伴
K：看来你状况不错
L：理想的交往方式、两人曾一同欢笑的话题
M：猫的话题
Q：其它伙伴的评价、强大武器的话题
S：上次战斗的反省、收到会很开心的礼物、说出自己的秘密
W：晚餐的邀约、未来的梦想、为了克服弱点、我信赖着你、午餐的话题
X：希望成为伙伴的人、想去旅行看看的国家、想要变得更亲密、想一起吃的料理、想一起训练的对象、新计策的提案
Y：一直以来谢谢你了、应该适合的兵种
Z：在市场的孩子的话题、在危机之际获救的话题、在战场上生存的方法、在中庭的两人的话题
结束：
呵，你的表情：害羞、没那种事、喝茶
我话很少：没那种事
天帝之剑：点头、说出自己的想法
------------
卡多莉奴
喜欢的茶：玫瑰花茶
对话：
G：关于道具的保养、关于钓鱼池的怪鱼、关于两人的将来、关于两人的连携、关于纹章的有无、关于想成为的兵种、关于修道院的警备
J：精悍骑士团的传言、觉得最优秀的伙伴
K：看来你过得不错、看来你状况不错
L：理想的交往方式、两人曾一同欢笑的话题、料理失败的话题
M：门卫工作时间的话题
Q：其它伙伴的评价、强大武器的话题
R：任何事都可以跟我商量
S：上次战斗的反省、士官学校的回忆、视为目标的人物、说出自己的秘密
W：晚餐的邀约、忘了收获的话题、午餐的话题、我信赖着你
X：喜欢的地方、想要变得更亲密、想一起吃的料理、想一起训练的对象、相遇之时的话题、新计策的提案、学校生活的回忆
Y：一直以来谢谢你了、应该适合的兵种
Z：在危机之际获救的话题、在意的伙伴的话题
结束：
听说你的别名：喝茶、害羞、哈哈
我是不是：责备、喝茶
堂堂正正：沮丧、点头`;

let datajson = {}

let countries_text = rawdata.split('###').slice(1);
for (let i in countries_text){
    let country = countries_text[i].split('------------\n');
    let name = country[0].slice(0, country[0].length - 1);
    let ocjson = {};
    for (let j = 1; j < country.length; j ++ ){
        let lines = country[j].split('\n');
        let charactor = lines[0];
        let tea = lines[1].slice(5);
        console.assert(lines[1].slice(0, 5) == '喜欢的茶：', 'cha');
        console.assert(lines[2] == '对话：', 'duihua');
        let over = [];
        let talk = [];
        let overmark = false;
        for (let k = 3; k < lines.length; k ++ ){
            if (lines[k].slice(0, 3) == '结束：')
                overmark = true;
            if (overmark)
                over.push(lines[k]);
            else{
                console.assert(lines[k][1] == '：', 'maohao ' + lines[k]);
                talk.push([lines[k][0], lines[k].slice(2).split('、')]);
            }
        }
        ocjson[charactor] = { tea, talk, over };
    }
    datajson[name] = ocjson;
}
//console.log(JSON.stringify(datajson));

let countries = Object.keys(datajson);

function country_click(index){
    dropdowns[1].list.length = 0;
    for (let i in datajson[countries[index]])
        dropdowns[1].list.push(i);
    app.country = countries[index];
    app.name = dropdowns[1].list[0];
}

function charactor_click(index){
    app.name = dropdowns[1].list[index];
}

var dropdowns = [
    {title: '国家', list: JSON.parse(JSON.stringify(countries)), index: 0, click: country_click},
    {title: '角色', list: [], index: 0, click: charactor_click}
];

Vue.component('custom-dropdown', {
    props: ['title', 'list', 'chosenindex', 'click'],
    methods: {
        aClick: function(e) {
            var a = e.currentTarget;
            var index = parseInt($(a).attr('index'));
            this.$emit('update:chosenindex', index);
            this.click(index);
        }
    },
    template: `
    <div class="one-dropdown-div">
        <div class="title-div">
            <span class="buttontitle">{{ title }}</span>
        </div>
        <div class="btn-group">
            <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown"><span>{{ chosenindex == undefined ? list[0] : list[chosenindex] }}</span> <span class="caret"></span></button>
            <div class="dropdown-menu" role="menu">
                <a class="dropdown-item" v-for="(text, index) in list" href="javascript:void(0)" :index="index" @click="aClick($event)">{{ text }}</a>
            </div>
        </div>
    </div>
    `
});

Vue.component('display-data', {
    props: ['name', 'tea', 'talk', 'over'],
    template: `
    <div id="display">
        <div class="title-div">
            <span>姓名：{{ name }}</span>
        </div>
        <div id="tea-div">
            <span>喜欢的茶：{{ tea }}</span>
        </div>
        <div class="talk-div" v-for="onetalk in talk">
            <div class="talk-character-div">
                <span>{{ onetalk[0] }}</span>
            </div>
            <div class="talk-content-div" v-for="oneline in onetalk[1]">
                <span>{{ oneline }}</span>
            </div>
        </div>
        <div class="over-div">
            <span v-for="oneover in over">{{ oneover }}</span>
        </div>
    </div>
    `
});

var app = new Vue({
    el: '#app',
    data: {
        dropdowns,
        datajson,
        country: '黑鹫',
        name: '艾黛尔贾特'
    }
});

country_click(0);
</script>

</body>
</html>